*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    margin: 5px;
}
.langauge{
    border:  1px aolid  rgb(4, 141, 4);
border-radius: 30px;
}
.head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}
.head-2{
    display: flex;
    justify-content: space-between;
}
.head-2 p{
    margin-left: 10px;
}
a{
    color: gray;
    text-decoration: none;
}
.nav a{
    margin: 7px;
    color: black;
}
nav a:hover{
 border-bottom: 2px solid blue;
}
.nav{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 2px solid rgb(190, 185, 185,0.4);
    /* box-shadow:  ouset #b9b6b6; */
}


#btn1-group{
    margin: 10px;
    /* border: 1px solid blue; */
    padding: 5px;
    border-radius: 5px;
     width: 120px;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: 1px solid rgba(34, 34, 233, 0.929);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
.btn-1{
    background-color: rgba(84, 84, 243, 0.849);
    color: white;
}
.btn-2{
    background-color: rgba(13, 143, 13, 0.667);
    color:White;
}
  #btn1-group:hover {
    transform: scale(1.1); 
  }
  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1); 
    }
  }
button:hover {
    animation: pop 0.5s ease;
  }
  .body-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 0;
  }
  .welfare-intro{
    padding: 10px;
    margin: 10px;
  }
  .explore{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    padding: 20px;

  }
  .donation-container{
    width: 100%;
    height: 100px;
    border: 2px solid red;
  }
  .general-label{
    border: 1px solid black;
    background-color: rgba(27, 23, 23, 0.89);
    color: white;
    margin: 0;
    padding: 10px 6px;
    border-radius: 3px;
  }
  .general{
    width: 200px;
    padding: 10px 6px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
  }
  .rs{
    border: 1px solid black;
    background-color: rgba(27, 23, 23, 0.89);
    color: white;
    margin-left: 200px;
    padding: 10px 6px;
    border-radius: 3px;
  }